*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Poppins",sans-serif;

background:#F5F7FC;

overflow-x:hidden;

color:#1E293B;

}

a{

text-decoration:none;

}

button{

font-family:inherit;

}

input{

font-family:inherit;

}